


<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <!-- <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th> -->
      <th>#</th>
      <th>Username</th>
      <th>Real Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.userId }}</td>
      <td>{{ user.userName }}</td>
      <td>{{ user.realName }}</td>
      <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
    </tr>
  </tbody>
</table>
